<div class="home-container">
    <div class="image-container">
      <img src="assets/profile.JPG" alt="Profile Picture">
    </div>
    <div class="info-container">
      <h2 *ngFor="let item of items">
        {{ item }}
      </h2>
      <div class="social-links">
        <a href="https://github.com/kartik-soni1707/" target="_blank">
            <img src="assets/github.svg" alt="GitHub">
        </a>
        <a href="https://www.linkedin.com/in/kartik-soni-1707/" target="_blank">
            <img src="assets/linkedin.svg" alt="LinkedIn">
        </a>
        <a href="https://www.youtube.com/@gadgetguy6651" target="_blank">
            <img src="assets/youtube.svg" alt="YouTube">
        </a>
      </div>
      <div class="tech-icons">
        <img src="assets/python.svg" alt="Python">
        <img src="assets/java.svg" alt="Java">
        <img src="assets/c.svg" alt="C++">
        <!-- Add more icons as needed -->
      </div>
  
      <a href="assets/Kartik_Resume.pdf" class="resume-btn" download>Download Resume</a>
    </div>
  </div>
  