<body>
<h1>Kartik Soni</h1>
<p class="title">Software/AI/ML Engineer</p>
<div class="info">
    <div>
        <i class="fas fa-graduation-cap"></i>
        <h3>Education</h3>
        <p>B.S. Computer Science - UMass Amherst (Cum Laude, GPA: 3.9, Top 20% )</p>
        <p>Awarded Bay State Scholarship to pursue MS in CS </p>
    </div>
    <div>
        <i class="fas fa-briefcase"></i>
        <h3>Experience</h3>
        <p>Software Engineer at Whova (San Diego, CA) </p>
        <p>ML Researcher at UMass (Amherst, MA)</p>
    </div>
    <div>
        <i class="fas fa-code"></i>
        <h3>Skills </h3>
        <p>PyTorch · TensorFlow/Keras · Transformers· HuggingFace · LLMs · Fine-tuning · CNNs · NLP · Computer Vision · OpenCV · Naïve Bayes · Cross-validation · Hyperparameter Tuning</p>
    </div>
</div>

</body>

