<div class="home-container">
    <div class="image-container">
      <img src="assets/profile.JPG" alt="Profile Picture">
    </div>
    <div class="info-container">
      <h2>{{intro}}</h2>
      
      <div class="tech-icons">
        <img src="assets/python.svg" alt="Python">
        <img src="assets/java.svg" alt="Java">
        <img src="assets/c.svg" alt="C++">
        <!-- Add more icons as needed -->
      </div>
  
      <a href="assets/Kartik_Resume.pdf" class="resume-btn" download>Download Resume</a>
    </div>
  </div>
  